extends /page.pug

block banner
  section#splash
    .inner
      header.main
        .title
          p.major Delivering software with the lowest total cost of ownership.

        .subtitle
            span
              :markdown-it Discover how to build __robust and maintainable__ software such that changes and new features __integrate seamlessly__ with the rest of your code.
            span
              :markdown-it __Boost team productivity__ by using __distributed__ source control __effectively__ in a real-world team environment.      

      header.logo
        img(src="https://images.unsplash.com/photo-1491451231005-ec20221dd520?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38fb233251b0752fd44f76357c3b0cd8&auto=format&fit=crop&w=680&q=80")

block main
  #main
    section#one.tiles
      each tile in tiles
        article
          if tile.image
            span.image
              img(src=tile.image alt=tile.title)
          header.major
            h3= tile.title
            p
              :markdown-it= tile.excerpt
          if site.tile_links
            a.link.primary(href="/ship/#" + tile.slug)

    section#two
      .inner
        block content


