extends /page.pug

block banner
  section#banner.major
    .inner
      header.major
        div
          img.logo(src="images/he_logo_text_rw_vert.svg" alt="Human Enginuity logo")
          p.logo.major Technology Services

      .subtitle
        p.subtitle
          :markdown-it Software Designed to **Ship**.
        .learn-more
          ul.actions
            li
              a.button.next.scrolly(href="#one") Learn more

block main
  #main
    section#one.tiles
      each tile in site.tiles
        article
          if tile.image
            span.image
              img(src=tile.image alt=tile.title)
          header.major
            h3= tile.title
            p
              :markdown-it= tile.text

    section#two
      .inner
        block content


