
<!DOCTYPE html>
html(lang="en")
  head
    block meta
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")

    block head
      title= pageTitle

    block css
      //if lte IE 8
        script(src="/assets/js/ie/html5shiv.js")
      link(rel="stylesheet" href="/assets/css/main.css")
      //if lte IE 9
        link(rel="stylesheet" href="/assets/css/ie9.css")
      //if lte IE 8
        link(rel="stylesheet" href="/assets/css/ie8.css")

  body
    block body
      #wrapper
        block header
          header#header
            a.logo(href="/")
              img(src="/images/he_logo_text_rw_horiz.svg" alt="Human Enginuity")

        block menu
        block banner
        block main
          #main
            block content
              != contents
        block contact
          section#contact
            .inner
              section
                form(method="post" netlify action="#")
                  .field.half.first
                    label(for="name") Name
                    input#name(type="text" name="name")
                  .field.half
                    label(for="email") Email
                    input#email(type="text" name="email")
                  .field
                    label(for="message") Message
                    textarea#message(name="message" rows="6")
                  ul.actions
                    li
                      input.special(type="submit" value="Send Message")
                    li
                      input(type="reset" value="Clear")
              section.split
                section
                  .contact-method
                    span.icon.alt.fa-envelope
                    h3 Email
                    a(href="mailto:hello@humanenginuity.com") hello@humanenginuity.com

        block footer

    block scripts
      script(src="/assets/js/jquery.min.js")
      script(src="/assets/js/jquery.scrolly.min.js")
      script(src="/assets/js/jquery.scrollex.min.js")
      script(src="/assets/js/skel.min.js")
      script(src="/assets/js/util.js")
      //if lte IE 8
        script(src="/assets/js/ie/respond.min.js")
      script(src="/assets/js/main.js")
