---
---
extends /page.pug

block main
  #main.alt.ship
    each tile in tiles
      section(id=tile.slug)
        .inner
          header.major
            h1= tile.title

          if tile.image
            span.main.image
              img(src=tile.image alt)

          block content
            != tile.contents
